body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0px;
    margin: 0px;
  }
  
  h1, p {
    text-align: center;
  }
  
  button {
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
    transition: background-color 0.3s ease;
  }

 .fixed-header {
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    padding: 00px;
    border-bottom: 2px solid #ccc;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  section {
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 8px;
    background-color: #b0b2c7;
  }
  
  section h2 {
    margin-top: 0;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: #b0b2c7;
    border-radius: 5px;
    text-align: left;
  }
  
  .song-list {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      vertical-align: top;
  }
  
  .song-list button {
      vertical-align: top;
      margin: 10px;
      width: 190px;
      height: 80px;
      text-align: center;
      line-height: 1.4;
      background-color: #555;
      color: white;
      border: 2px solid transparent;
  }
  
  .header-buttons {
      position: flex;
      display: flex;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;
      z-index: 9999;
  }
  
  .stop-buttons {
  width: 100%; /* Fyller hela bredden */
  display: flex;
  justify-content: center;
  margin-bottom: 0px; /* Lägger lite utrymme mellan stop-knappen och de andra */
}
  .random-buttons {
      display: flex;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;
      
  }

  .goal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
    
}
  .title {
    margin: 5px;
    padding: 0; /* Tar bort padding */
    line-height: 1; /* Komprimerar höjden */
    font-size: 20px; /* Minskar textstorleken */
    text-align: center;
}
  
  #status {
    margin: 0; /* Tar bort marginaler */
    padding: 0; /* Tar bort padding */
    line-height: 1; /* Komprimerar höjden */
    font-size: 12px; /* Minskar textstorleken */
    text-align: center;
}

  #status h2 {
    margin: 0; /* Tar bort marginal från H3 */
    padding: 0; /* Tar bort padding från H3 */
}

  #status *:not(h2) { 
    font-size: 10px; /* Gör all annan text i #status mindre */
    line-height: 1; /* Komprimerar höjden ytterligare */
}

  #stop-btn {
    background-color: #791e1e;
    width: 100%;  
    height: 60px; 
    color: white;
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #login-btn, #refresh-btn, #collapse-all-btn {
  color: white;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


#login-btn {
  background-color: #2da016; /* Specifik bakgrundsfärg för logga in-knappen */
}

#refresh-btn {
  background-color: #874be9; /* Specifik bakgrundsfärg för reload-knappen */
}

#collapse-all-btn {
  background-color: #727272; /* Specifik bakgrundsfärg för retract-knappen */
}
  
  #login-btn:hover {
    background-color: #2980b9;
  }
  
  #stop-btn:hover {
    background-color: #c0392b;
  }
  
  #refresh-btn:hover {
    background-color: #27ae60;
  }
  
  #collapse-all-btn:hover {
    background-color: #AAAAAA;
  }
  
  .device-select {
    color: black;
    margin: 5px;
    padding: 10px;
  }
  
  .file-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .random-track-btn {
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    border: none;
    width: 120px;
    height: 40px;
    transition: background-color 0.3s ease;
  }
  
  .random-goal-btn {
    background-color: black;
    width:200px;
    color: white;
    padding: 10px;
    height: 60px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }

  .random-track-btn:hover {
    background-color: #333;
  }
  